html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}



body {
	background-image: url("homebg.jpg");
	background-size: 100% 100%;
}

.header {
	
}

#header1 {
	background: rgba(30, 30, 30, 0.7);
	padding-left: 2%;
	padding-top: 0.9%;
	padding-bottom: 0.9%;
	font-size: 40px;
	font-weight: bold;
	color: white;
	border-radius: 10px;
}


.btn00{
	border: none;
	background: rgba(30, 30, 30, 0);
	margin-left: 39%;
	color: white;
	height: 45px;
	width: 250px;
	transition: all .4s ease-in-out;
	position: absolute;
	border-radius: 10px;
	font-size: 20px;
}


.btn00:hover{
	background: rgba(200, 200, 200, 0.7);
	color: black;
}

.frame01 {
	position: absolute;
	background: rgba(30, 30, 30, 0.7);
	border-radius: 30px;
	height: 81%;
	width: 100%;
	transition: all .4s ease-in-out;
}

.btn01 {
	position: relative;
	background: rgba(200, 200, 200, 0.7);
	border-radius: 10px;
	padding: 12px 24px;
	transition: all .4s ease-in-out;
	border: none;
	margin: 40px 0px;
	height: 50px;
	width: 250px;
	left: 3%;
	top: 20%;
}

.a1:hover .btn01 {
	background: rgba(30, 30, 30, 0.7);
	color: #ffffff;
}

.a1:hover .im01{
	opacity: 1;
}

.btn02 {
	position: relative;
	background: rgba(200, 200, 200, 0.7);
	border-radius: 10px;
	padding: 12px 24px;
	transition: all .4s ease-in-out;
	border: none;
	margin: 40px 0px;
	height: 50px;
	width: 250px;
	left: 3%;
	top: 40%;
}

.a2:hover .btn02 {
	background: rgba(30, 30, 30, 0.7);
	color: #ffffff;
}

.a2:hover .im02{
	opacity: 1;
}

.btn03 {
	position: relative;
	background: rgba(200, 200, 200, 0.7);
	border-radius: 10px;
	padding: 12px 24px;
	transition: all .4s ease-in-out;
	border: none;
	margin: 40px 0px;
	height: 50px;
	width: 250px;
	left: 3%;
	top: 60%;
}

.a3:hover .btn03 {
	background: rgba(30, 30, 30, 0.7);
	color: #ffffff;
}

.a3:hover .im03{
	opacity: 1;
}

.btn04 {
	position: relative;
	background: rgba(200, 200, 200, 0.7);
	border-radius: 10px;
	padding: 12px 24px;
	transition: all .4s ease-in-out;
	border: none;
	margin: 40px 0px;
	height: 50px;
	width: 250px;
	left: 3%;
	top: 80%;
}

.a4:hover .btn04 {
	background: rgba(30, 30, 30, 0.7);
	color: #ffffff;
}

.a4:hover .im04{
	opacity: 1;
}

.im01{
	position: absolute;
	height: 500px;
	width: 350px;
	left: 50%;
	top: 2%;
	opacity: 0;
	transition: all .4s ease-in-out;
	border-radius: 10px;
}

.im02{
	position: absolute;
	height: 500px;
	width: 350px;
	left: 50%;
	top: 2%;
	opacity: 0;
	transition: all .4s ease-in-out;
	border-radius: 10px;
}

.im03{
	position: absolute;
	height: 500px;
	width: 350px;
	left: 50%;
	top: 2%;
	opacity: 0;
	transition: all .4s ease-in-out;
	border-radius: 10px;
}

.im04{
	position: absolute;
	height: 500px;
	width: 350px;
	left: 50%;
	top: 2%;
	opacity: 0;
	transition: all .4s ease-in-out;
	border-radius: 10px;
}
