html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
}



body {
	background-image: url("princiback.jpg");
	background-size: 100% 100%;
}

.frame01 {
	position: absolute;
	background: rgba(250, 250, 250, 0.7);
	border-radius: 30px;
	transition: all .4s ease-in-out;
	padding-left: 200;
	padding-top: 2%;
	width:1135px;
	height:400px;
	
}

.header {
	padding-left: 30%;
	padding-right: 30%;
	
	padding-top: 0%;
	padding-bottom: 1%;
	
}

#header1 {
	background: rgba(200, 200, 200, 0.7);
	padding: 2%;
	font-size: 40px;
	font-weight: bold;
	color: black;
	border-radius: 10px;
}

.btn02 {
	position: relative;
	border: solid;
	border-color: white;
	border-radius: 20px;
	background:  rgba(250, 250, 250, 0);
	transition: all .4s ease-in-out;
	height: 40px;
	width: 120px;
	font-size: 20px;
	margin-left: 1%;
	color:white;
	
}

.btn02:hover {
	background-color: #9f345b;
	opacity: 1;
	color: yellow;
}


.btn03 {
	position: relative;
	border: solid;
	border-color: white;
	border-radius: 20px;
	background:  rgba(250, 250, 250, 0);
	transition: all .4s ease-in-out;
	height: 40px;
	width: 120px;
	font-size: 20px;
	margin-left:80%;
	color:white;
	
}

.btn03:hover {
	background-color: #9f345b;
	opacity: 1;
	color: yellow;
}